@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@300&family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@300&family=Noto+Sans+TC:wght@500&family=Petemoss&family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
}
header{
    background-color: blue;
    color: white;
    font-family: 'Playfair Display', serif;
}
nav{
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 88px;
padding: 0 39px;
}
nav ul{
    height: 58px;
    display: flex;
    justify-self: flex-start;align-items: center;
}
nav ul li{
    list-style: none;
    padding: 0 23px;

}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    color: red;
    font-weight: bold;
}
.search{
    display: flex;
    align-items: center;
    padding: 0 200px;
    margin: 0;
}
.search input{
    width: 30vw;
    height: 23px;
    border-radius: 3px;
    margin: 0 5px 0 0;
}
.card h2{
    font-family: 'Playfair Display', serif;   
}
.slider{
    margin:  20px auto;
    width: 80vw;
    overflow: hidden;
}
.container{
    min-height: 87vh;
}
.card{
    max-width: 91vw;
    margin:  37px auto;
    font-family: 'Playfair Display', serif;  

}
.card-item{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 5px;

}
footer{
    height: 5vh;
    background-color: blue;
    color: white;
    font-family: 'Playfair Display', serif;
}
.heading{
    background-color:whitesmoke;
}
.heading h1{
    font-family: 'Playfair Display', serif;
    background-color: aqua;
    color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 19vh;
}  
.reg-name p input{
    margin: 0 2vh;
}
.reg-name{
    margin: 25px 25px;
   
}
.last{
    background-color: red;
    height: 10vh;
    display: flex;
align-content: center;
justify-content: center;
}
.last input{
    margin: 9px 19px;

}