.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    padding: 3px 14px;
    color: white;
    background-color: blue;
    border: 3px solid white;
    border-radius: 10px;
    cursor: pointer;
}
.my-2{
    margin: 20px 0;
}
.text-center{
    text-align: center;
}